@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: black;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: #4E4F75;
    border-radius: 10px;
    border: none;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #3a3b57;
    transition-duration: 500ms;
}

* {
    scrollbar-width: 15px;
}

body {
    -ms-overflow-style: none;
}